/* THIS IS THE START OF Francis Alaetuo's CSS FOR THE SABI PROJECT. PLEASE DON'T ALTER THIS PART IF YOU'RE NOT Francis Alaetuo */

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz@9..40&family=Poppins&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'DM Sans', sans-serif;
}

.sabi-video{
    /* width: 100%;
    height: 100%; */
    object-fit: fill;
    /* object-position: center center;
    opacity: 1; */
    position: relative;
    width: 100%;
    height: 100vh;
    z-index: 1;
}

.francis-side-bar{
    background-color: rgba(0, 0, 0, 0.5);
    width: 340px;
    z-index: 2;
    position: absolute;
    top: 0;
    bottom: 0;
    padding-left: 53px;
}

.francis-checkA{
    position: absolute;
    top: 9.7%;
    bottom: 0;
    left: 7%;
    color: white;
    z-index: 5;
    font-size: 30px;
    display: none;
}

#vehicle2:checked + .francis-side-bar {
    display: block;

}

#vehicle2{
    display: none;
}


.francis-sabi-logo{
    margin-left: 32px;
    margin-top: 60px;
    margin-bottom: 69px;
    cursor: pointer;
}

.francis-sabi-btn{
    margin-left: 34px;
    margin-top: 219px;
    font-size: 11px;
    color: white;
    border: 1px solid rgb(97, 159, 161);
    border-radius: 15px;
    padding: 5px 35px;
    background-color: transparent;
}

.francis-sabi-btn:hover{
    background-color: rgb(29, 161, 242);
    /* transition: 0.5s all; */
}

nav ul{
    list-style-type: none;
}

nav ul li {
    line-height: 29px;
    
}

nav ul li a {
    font-size: 14px;
}

.francis-main-sabi{
    width: 40%;
    z-index: 2;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
}

.francis-font{
    font-size: 21px;
}

.francis-menu-icon{
    position: fixed;
    top: 74px;
    right: 7%;
    font-size: 10px;
    color: black;
    border: 1px solid rgb(43, 77, 78);
    border-radius: 15px;
    padding: 6px 42px;
    z-index: 12;
    background: #fff;
    cursor: pointer;
}

.francis-content-div{
    margin-top: 160px;
}

.francis-check{
    font-size: 14px;
}

.francis-menu-icon2{
    font-size: 10px;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 15px;
    padding: 6px 42px;
    background-color: transparent;
}

.francis-menu-icon2:hover{
    background-color: rgb(29, 161, 242);
    border: 1px solid cornflowerblue;
}

.francis-menu-div{
    margin-top: 65px;
    margin-bottom: 70px;
    margin-right: 70px;
}

.francis-sabi-img{
    margin-right: 95px;
}


/* The hamburg menu css starts here */

.francis-hamburg-menu{
    width: 345px;
    z-index: 2;
    background-color: rgb(228, 217, 217);
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    display: none;
}

#vehicle1:checked + .francis-hamburg-menu {
    display: block;
}

#vehicle1{
    display: none;
}

.apt{
    min-height: 100vh;
}

.hamburg-line-ht{
    line-height: 32px;
}

.hamburg-txt-color{
    color: rgb(49, 49, 138);
}

.hamburg-cursor-change{
    cursor: pointer;
}

.francis-instagram{
    color: #bc2a8d;
}

.francis-instagram:hover{
    color: #bc2a8d;
}

.francis-twitter{
    color: #1da1f2;
}

.francis-twitter:hover{
    color: #1da1f2;
}

.francis-linkedin{
    color: #0077b5;
}

.francis-linkedin:hover{
    color: #0077b5;
}




/* Francis Alaetuo's SABI WEBSITE RESPONSIVENESS STARTS HERE */

@media screen and (max-width: 900px) {
    .francis-side-bar{
        display: none;
        background-color: rgb(87, 86, 86);
        z-index: 8;
    }
    
    .francis-checkA{
        display: block;
        z-index: 9;
    }
    
    #vehicle2:checked + .francis-side-bar {
        display: block;
    
    }
    
    #vehicle2{
        display: none;
    }

    .francis-main-sabi{
        width: 85%;
    }

    .francis-menu-icon{
        top: 62px;
    }
}


@media (max-width: 600px){
    .francis-side-bar{
        display: none;
        background-color: rgb(87, 86, 86);
        z-index: 8;
    }
    
    .francis-checkA{
        display: block;
        z-index: 9;
    }
    
    #vehicle2:checked + .francis-side-bar {
        display: block;
    
    }
    
    #vehicle2{
        display: none;
    }

    .francis-main-sabi{
        width: 85%;
    }

    .francis-menu-icon{
        top: 62px;
    }

}

/* Francis Alaetuo's SABI WEBSITE RESPONSIVENESS ENDS HERE */



/* THIS IS THE END OF Francis Alaetuo's CSS FOR THE SABI PROJECT. PLEASE DON'T ALTER THIS PART IF YOU'RE NOT Francis Alaetuo */





/* THE CSS OF OTHER COHORT MEMBERS STARTS HERE. PLEASE, PASTE YOUR CSS HERE AND DO NOT INTERFERE WITH THE CSS OF OTHERS. */