/* CSS FOR HEADER :start */


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html {
    scroll-behavior: smooth;
  }

body {
    background-color: #f0f0f0 !important;
    background-image: url(../images/Jumia-cover-you-bg.jpg);
    background-repeat: no-repeat;
    background-position: top;

    
    width: 100%;
    overflow-x: hidden;
    

}


.container {
    width: 85vw;
    margin: auto;
}

.top-anime {
    background-image: url(../images/Jumia-cover-you.gif);
    height: 55px;
    background-size: cover;
    background-position: right;

    
}

.menu {
    display: flex;
    /* justify-content: center; */
    background-color: rgb(240, 240, 240);
    right: 0px;
    left: 0px;
    height: 32px;
    

    position: absolute;
}

.container .sell-on-jumia {
    position: absolute;
    line-height: 2;
    z-index: 2;
    left: 8vw;
    color: #F68B1E;
    font-size: 14px;

    top: 3px;
    /* line-height: 20px; */
    
}

.sell-on-jumia img {
    width: 13px;
    top: 8px;
    position: absolute;
}


.sell-on-jumia a {
    color: #F68B1E;
    text-decoration: none;
    font-size: 13px;
    font-weight: 500;
    padding-left: 18px;

    /* letter-spacing: 0.5px; */
}



.menu ul {
    flex: 1;
    display: flex;
    justify-content: center;
    column-gap: 13px;
    align-items: center;
    position: relative;
    left: 60px;
    margin-bottom: 0;
}

.menu ul li img {
    padding-top: 7px;
    width: 56px;
}

.menu ul li {
    list-style-type: none;
}

.menu ul li i, .menu ul li a  {
    text-decoration: none;
    color: rgb(167, 167, 167);
    font-size: 14px;
    letter-spacing: 1.5px;
    
}

.menu ul li a {
    font-weight: 400;
}


.menu ul li:hover a  {
    color: rgb(30, 144, 238);
}

.menu ul li:hover i  {
    color: rgb(30, 144, 238);
}


/* MENU 2 CSS DESIGN STARTS HERE*/

.menu2 {
    position: sticky !important;
    top: 2px;
    background-color: white;
    margin-top: 32px;
    position: sticky;
    top: 0;
    height: 70px;
    padding: 0 4vw 0 8vw;


    display: flex;
    justify-content: space-around;

    z-index: 1000;
    
}

.menu2 img {
    width: 130px;
}

.menu2 .right {
    flex: 1;
    display: flex;
    /* background-color: lightblue; */
    column-gap: 10px;
    padding-left: 6vw;
    align-items: center;
    font-size: 15px;
    /* justify-content: space-between; */

}

.menu2 .hamburg {
    color: black;
}

.menu2 .hamburg:hover {
    color: #F68B1E;
    cursor: pointer
}

.btn-button {
    background-color: #F68B1E !important;
    color: white !important;
    box-shadow: 2px 2px 10px rgb(114, 114, 114);
    padding-left: 50px;
}



.input-container {
    width: 53%;
    position: relative;
}

.right .input-container input {
    width: 100%;
    height: 40px;
    border-radius: 5px;
    border: 1px solid #696969;
    outline: none;
    font-size: 17px;
    font-weight: 400;
    padding: 0 10px 0 40px;
    
    
}

.right .search-icon {
    position: absolute;
    z-index: 1;
    left: 12px;
    top: 12px;
    font-size: 18px;
    color: #616161;
    
}

.right button {
    padding: 10px 15px;
    border-radius: 5px;
    border: 1px solid #F68B1E;
    background-color: #F68B1E;
    color: white;
    font-weight: bold;
    letter-spacing: 0.5px;
    box-shadow: 2px 2px 10px rgb(114, 114, 114);
    
}

.right button:hover {
    background-color: #d4710d;
    border: 1px solid #d4710d;
}




.right .ext a{
    text-decoration: none;
    font-weight: 500;
    font-size: 17px;
    color: #2b2b2b;
    padding-left: 0px;
}

.right .ext {
    white-space: nowrap;
}

.right .ext i {
    color: #2b2b2b;
    /* font-weight: 500; */
    font-size: 20px;
    padding-left: 7px;

}

.right .ext:hover a {
    color: #F68B1E;
}

.right .ext:hover i {
    color: #F68B1E;
}

span.ext.dropdown-center li {
    line-height: 30px;
    color: gray;
  }


span.ext.dropdown-center:hover li a {
    color: gray
  }
  
  span.ext.dropdown-center:hover li a i {
    color: gray
  }





/* CATEGORY SECTION CSS SATRTS HERE */

.cat-section {
    display: flex;
    width: 85vw;
    margin: 17px auto;
    column-gap: 15px;
}

.cat {
    width: 210px;
    background-color: white;
    min-height: fit-content;
    border-radius: 5px;
}

.cat ul li {
    list-style-type: none;
    padding: 7px 10px 0px 10px;
    line-height: 1.55;
}

.cat ul li a {
    font-size: 13px;
    text-decoration: none;
    color: #2b2b2b;
   
}

.cat ul li i {
    font-size: 14px;
    padding-right: 10px;
    color: black;
}

.cat ul li:hover a {
    color: #F68B1E;
   
}

.cat ul li:hover i {
    color: #F68B1E;
}


/* show or hide cat section in other pages */

.show-cat {
    display: none;
    position: absolute;
    z-index: 999;
}

.menu2 .hamburghov:hover > .show-cat {
    display: block;
    position: absolute;
    left: 6%;
    top: 60px;
    box-shadow: 4px 4px 15px rgb(170, 170, 170, 0.9);
}



/* css for the hover of stores  */


.store {
    position: relative;
}

.show-store-items {
    display: none;
    /* position: absolute; */
    z-index: 1000;
    width: 700px;
    height: 100%;
    background-color: rgb(255, 255, 255);
    /* overflow-x: scroll; */
}

.ps-1 li:hover .show-store-items {
    display: block;
    position: absolute;
    left: 100%;
    top: 0;
    box-shadow: 4px 4px 15px rgba(156, 156, 156, 0.9);
    border-radius: 10px;

    display: flex;
    column-gap: 70px;
}


.ps {
    font-size: 12px;
    line-height: 10px;
}




/* css for hover store ends */



.middle {
    flex: 1;
    /* background-color: lightpink; */
    height: 57.7vh;
    border-radius: 5px;
    background-image: url(../images/Slider.png);

}


.right-advert {
    width: 210px;
    
    height: 57.7vh;
    border-radius: 5px;

    display: flex;
    flex-direction: column;
    row-gap: 15px;
}

.right-advert .top-advert {
    flex: 1;
    /* background-color: lightblue; */
    /* border-radius: 5px; */
    background-image: url(../images/bsb.png);
    
    /* line-height: 0.9; */

}

.call-number {
    font-size: 14px;
}

.right-advert .down-advert {
    flex: 1;
    /* background-color: lightblue; */
    border-radius: 5px;
    background-image: url(../images/JForce.png);

}




 /* CSS FOR HEADER END */



 .item1 {
    padding-left: 3px !important;
    padding-right: 3px !important;

 }

 /* .gutter {
    column-gap: 5px;
    overflow-x: hidden;
 } */


.item1:hover {
    transform: scale(1.01);
    box-shadow: 2px 2px 10px rgb(114, 114, 114);
    border-radius: 10px;
    background-color: none;


}



.item1 img {
    width: 100%;
    border-radius: 5px;
    
}

.discount {
    color: #F68B1E;
    z-index:10;
    right: 5px;
    top: 5px;
    background-color: #f3dfc4;
    padding: 1px 3px;
    border-radius: 3px;
    font-size: 14px;
}



.item1 p {
    font-size: 14px;
    /* text-align: center; */
    color: #2b2b2b;
    margin-bottom: 0;
}

.item1 p:nth-child(4) {
    font-size: 14px;
    text-align: left;
    padding: 3px 10px;
    font-size: 17px;
 
}

.item1 p:nth-child(5) {
    font-size: 14px;
    text-align: left;
    padding-left: 10px;
    padding-bottom: 3px;
    font-size: 12px;
    color: #616161;
    text-decoration: line-through;
 
}

.item1 p:nth-child(6) {
    font-size: 14px;
    text-align: left;
    padding-left: 10px;
    font-size: 12px;
    letter-spacing: 1px;
    padding-bottom: 3px;
 
}


/* CSS STYLING FOR THE QUANTITY BAR STARTS HERE*/

.item1 p:nth-child(7) {
    height: 8px;
    /* border: 1px solid black; */
    border-radius: 10px;
    width: 90%;
    margin: auto;
    padding-left: 10px;
    position: relative;
    background-color: #F68B1E;
 
}


.gaming-col li {
    list-style-type: none;
    padding: 5px 0;
    font-size: 15px;
}


.top-search-icon {
    top: 3px;
    left: 10px;
}

.side-search {
    border-radius: 20px;
    border: 1px solid gray;
    padding: 5px 10px;
    width: 90%;
}


.scroll-side {
    height: 200px;
    overflow-y: scroll;
}

.scroll-side p label:hover {
    cursor: pointer;
}

.scroll-side label:hover {
    cursor: pointer;
}

div p label:hover {
    cursor: pointer;
}

.radius-col {
    column-gap: 10px;
    
    
}

.radius-val {
    overflow-x: hidden;
    max-width: 270px !important;
    height: fit-content;
    white-space: nowrap;
    min-width: 250px;
}

.rad {
    width: 1em;
    height: 1em;
    accent-color: #F68B1E;;
    cursor: pointer;
    border: 1px solid grey;
    outline: none;
}

/* .rad:checked {outline: none;} */

.rad:hover {
    accent-color: #F68B1E;
}




.rate-on {
    color: #F68B1E;
    font-size: 12px;
}

.rate-off {
    font-size: 12px;
    color: #cfcfcf;
}

.ratenumber {
    font-size: 12px;
    margin-left: 10px;
}



/* CSS FOR WEBKIT SCROLL BAR */

.scroll-side::-webkit-scrollbar {
    width: 0.6vw;
  }
  
/* .sidebar::-webkit-scrollbar-track {
    background: red
  } */
   

.scroll-side::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: #cfcfcf;
  }

.scroll-side:hover::-webkit-scrollbar-thumb {
    background-color: rgb(146, 146, 146);
}



.number-input input {
    max-width: 45%;
    
}

.range-set {
    width: 90%;
    accent-color: #F68B1E;
    outline: none;
    
}


/* sort section */

.sort {
    background-color: white !important;
    font-size: 16px;
}

.sort:hover {
    color: #F68B1E !important;
    
}

.big-found i:hover {
    color: #F68B1E;
    cursor: pointer;
}


.discount2 {
    color: #F68B1E;
    text-decoration: none;
    z-index:10;
    right: 20%;
    top: 84%;
    background-color: #f3dfc4;
    padding: 1px 3px;
    border-radius: 3px;
    font-size: 12px;
}

.paydelivery {
    background-color: red;
    color: white;
    z-index:10;
    left: 5px;
    top: 5px;
    padding: 1px 3px;
    border-radius: 3px;
    font-size: 10px;
}

.addtocart {
    visibility: hidden !important;
    background-color: #F68B1E !important;
    box-shadow: 2px 2px 6px rgb(114, 114, 114);
    outline: none;
    font-size: 15px;
}


/* .ratefix {
    margin-top: 10px;
    margin-bottom: 10px;
} */

/* .ratefix:hover {
    transform: scale(1.01);
    box-shadow: 2px 2px 10px rgb(114, 114, 114);
    border-radius: 10px;
} */

.ratefix .item1 p:first-of-type {
    font-size: 12px;
}


.ratefix:hover .addtocart {
    visibility: visible !important;
    
}

.linet {
    font-size: 12px;
    text-decoration: line-through;
    color: #616161;

}

.call-num {
    background-color: #F68B1E;
}


/* css for footer text */

.bold-size {
    font-size: 16px;
    font-weight: bolder;
}

.text-size {
    font-size: 13px;
}




/* FOOTER CSS STARTS HERE */


/* Jumia Footer css starts here */

.nxt-footer{
    background-color: #565658;
}
.fap{
    font-size: 13px;
    color: white;
}

.paddyman{
    font-size: 11px;
}

.coderX{
    width: 82%;
}

.coderP{
    width: 60%;
    margin-left: 35px;
}

hr{
    width: 88%;
}

.botlink{
    padding: 12px 20px;
    border: 1px solid white;
    color: white;
}

.botlink:hover{
    border: 1px solid rgb(247, 109, 18);
    color: rgb(247, 109, 18);
}

.botlink2{
    padding-top: 0;
    padding-bottom: 5px;
    padding-left: 30px;
    padding-right: 10px;
    border: 1px solid white;
}

.botlink2:hover{
    border: 1px solid rgb(247, 109, 18);
}

.sublink{
    font-size: 8px;
    font-weight: lighter;
    margin: 0;
    padding: 0;
    color: white;
}

.sublink:hover{
    color: rgb(247, 109, 18);
}



.sublink2{
    margin: 0;
    padding-bottom: 2px;
    font-size: 14px;
    color: white;
}

.sublink2:hover{
    color: rgb(247, 109, 18);
}

.main-form{
    position: relative;
}

.font-1{
    position: absolute;
    top: 13px;
    left: 15px;
}

.font-2{
    position: absolute;
    top: 18px;
    left: 8px;
}

.footer-logo{
    margin-left: -15px;
}

input[type=email]:focus {
    border: solid rgb(247, 109, 18);
    outline: none;
  }

.mailer:hover{
    color: rgb(247, 109, 18);
}

.a-special{
    text-decoration: none;
}

.a-special:hover{
    text-decoration: underline;
}

.text-p {
    color: white;
}

.text-p:hover{
    color: rgb(247, 109, 18);
}

/* Jumia Footer css ends here */



/* CSS FOR SCROLL TO TOP BUTTON */

#to-top {
    position: sticky;
    top: 85vh;
    margin-left: 85vw;
    padding: 13px 16px;
    background-color: white;
    border-radius: 50px;
    border: 1px solid #F68B1E;
    transition: background-color 0.2s;
    z-index: 10;
    

}

a #to-top i {
    color: #2b2b2b;
}


#to-top:hover {
    background-color: #f3dfc4;
}




/* CSS FOR BABY PRODUCTS */
.text-s li a {
    font-size: 12px;
    font-weight: bold;
}



/* CSS FOR TOP BUTTONS ENDS HERE */

/* RESPOSIVENESS */



@media screen and  (max-width: 950px) {
    .radius-col {
        flex-direction: column-reverse !important;     
        
    }

    .radius-right {
        width: 100% !important;
    }

    .radius-val {
    
        margin-top: 10px !important;
        margin-bottom: 10px !important; 

        display: flex;
        column-gap: 15px;
        min-width: 100% !important;
        background: red !important;
        overflow-x: scroll;
        overflow-y: hidden;

        height: 320px;
    }

    .radius-val div {
        width: 250px !important;
        padding: 5px;
        /* height: 100%; */
        padding-bottom: 10px !important;
    }

    .radius-val div hr {
        display: none;
    }

    .radius-val > div:hover {
        box-shadow: 2px 2px 10px rgb(114, 114, 114);
        border-radius: 10px;
    }
}

@media (max-width: 680px) {

    .track {
        display: none;
    }


.menu2 img {
    width: 100px;
}

.menu2 .right {
    padding-left: 1vw;
}


.right button {
    padding: 10px 5px;
}

.menu2 {
    padding: 0px 4vw 0px 4vw;
}

/* .menu2 .hamburghov:hover > .show-cat {
    
    left: 15px;
    
    
} */

}


